<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/predict" method="post">
        AGE:<input type="text" name="Age"><br>
        ALB:<input type="text" name="ALB"><br>
        ALP:<input type="text" name="ALP"><br>
        ALT:<input type="text" name="ALT"><br>
        AST:<input type="text" name="AST"><br>
        BIL:<input type="text" name="BIL"><br>
        CHE:<input type="text" name="CHE"><br>
        CHOL:<input type="text"name="CHOL"><br>
        GGT:<input type="text" name="GGT"><br>
        PROT:<input type="text"name="PROT"><br>
        class:{{reuslt}} <br>
        <input type="submit" value="predict">
    </form>
</body>
</html>